.products-new__header {
    margin-top: 50px;
}

.products-new__header h3 {
    font-weight: 600;
}

.products-new__tabs {
    margin: 0 40px;
}

.products-new__tab {
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    display: block;
}

.products-new__tab:hover {
    color: var(--primary-color)
}

.product-new__navigation {
    color: var(--primary-color);
    font-size: 24px;
}

.product-new__navigation div {
    cursor: pointer;
    margin: 4px;
}

.products-not-found {
    display: flex;
    position: relative;
    padding-top: 100px;
}

.products-not-found span {
    margin-right: 66px;
    font-size: 95px;
}

.products-not-found p {
    font-size: 28px;
    color: var(--primary-color)
}

@media (max-width: 767px) {
    .products-new__tabs {
        margin: 0;
    }
    .products-not-found {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .products-not-found span {
        font-size: 54px;
        margin: 0;

    }
    .products-not-found p {
        font-size: 20px;
        text-align: center;
    }
}