.product__wrapper {
  width: 100%;
  padding: 10px;
  position: relative;
}

.product__item {
  display: block;
  min-height: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 20px 10px;
}

.product__thumbnail {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(0px);
  transition: 0.5s;
}

.product__wrapper:hover .product__thumbnail {
  transform: translateY(-20px);
  transition: 0.5s;
}
.product__name {
  font-weight: 700;
  text-align: center;
  height: 54px;
}

.product__price strong {
  color: #fd475a;
}

.product__price strike {
  font-size: 16px;
}

.product-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.product__btn-group {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
}

.product__btn {
  color: rgb(156, 154, 154);
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.product__wrapper:hover .product__btn {
  opacity: 1;
  transition: opacity 0.3s;
}

.product__btn:hover {
  background-image: var(--gradient-color);
  color: #fff;
}

@media (max-width: 767px) {
  .product__wrapper {
    width: 80%;
  }
}