{% extends '../app.html' %}
{% load static %}

{% block title %}Mobius{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/banner.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/company.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/products/productList.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/products/productItem.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/blogs/blogList.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/blogs/blogItem.css' %}" type="text/css" />
{% endblock %}
{% csrf_token %}
{%block content %}
    {% include 'components/banner.html' %}
    {% include 'components/companies.html' %}
    {% include 'components/products/productList.html' with isHome="true" filterOn="phone" products=phones|slice:"0:7" %}
    {% include 'components/products/productList.html' with isHome="true"  filterOn="accessories" products=accessories|slice:"0:7" %}
    {% include 'components/blogs/blogList.html' with isHome="true" blogs=blogs|slice:"0:6" %}
{% endblock %}