{% extends '../app.html' %}
{% load static %}

{% block title %}Tin tức{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/blogs/blogList.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/blogs/blogItem.css' %}" type="text/css" />
{% endblock %}

{% block content %}

    {% include 'components/blogs/blogList.html' with isHome="true" noSwiper="true" blogs=blogs %}

    {% if paginator.num_pages > 1 %}
        {% include 'components/pagination.html' with page=currentPage paginator=paginator filterOn=productType %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/blog.js' %}"></script>
{% endblock %}