{% extends '../app.html' %}
{% load static %}

{% block title %}Mobius - Đăng nhập{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" type="text/css" />
{% endblock %}

{%block content %}
    {% load crispy_forms_tags %}
    <div class="overlay auth-overlay">
        <div class="auth-logo">
            <a
                class="auth-home-link"
                href="{% url 'home_view' %}"
            >
                <img class="white-logo" src="{% static 'images/mobius-logo-white.png' %}" />
            </a>
        </div>
        <div class="auth-container">
            <h1 class="text-gradient auth-title">Đăng nhập</h1>
            {% if errorMessage %}
                <div class="auth-error">{{errorMessage}}</div>
            {% endif %}
            <form id="login-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-control">
                        <input
                            type="text"
                            name="username"
                            id="username"
                            placeholder=" "
                            class="form-input"
                        />
                        <span class="form-icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <label
                            for="username"
                            class="form-label"
                        >
                            Tên đăng nhập
                        </label>
                        <div class="form-bottom-line"></div>
                    </div>
                    <span class="form-message"></span>

                </div>
                <div class="form-group">
                    <div class="form-control">
                        <input
                            type="password"
                            name="password"
                            id="password"
                            placeholder=" "
                            class="form-input"
                        />
                        <span class="form-icon">
                            <i class="fas fa-lock"></i>
                        </span>
                        <label
                            for="password"
                            class="form-label"
                        >
                            Mật khẩu
                        </label>
                        <div class="form-bottom-line"></div>
                    </div>
                    <span class="form-message"></span>
                </div>
                <div class="form-submit-btn-wrap">
                    <button class="form-submit-btn" type="submit">
                        <span>Đăng nhập</span>
                    </button>
                </div>
            </form>
            <p class="auth-text">Bạn chưa có tài khoản?? Hãy đăng ký <a href="{% url 'register' %}">tại đây</a> để tiện lợi hơn khi đặt hàng tại Mobius!</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/validator.js' %}"></script>
<script>
    Validator({
        form: '#login-form',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequire('#username', 'Vui lòng nhập Tên đăng nhập'),
            Validator.isRequire('#password', 'Vui lòng nhập Mật khẩu'),
        ],
    });
</script>
{% endblock %}