.auth-overlay {
  z-index: 100;
  background-image: var(--gradient-color);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-logo {
  padding: 50px 0;
}

.auth-home-link {
  display: block;
  width: 200px;
  height: fit-content;
}

.auth-logo img {
  width: 100%;
}

.auth-container {
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 16px;
  max-width: 443px;
}

.auth-title {
  font-weight: 600;
  text-align: center;
}

.auth-error {
  color: red;
  text-align: center;
  font-style: italic;
}

.auth-text {
  text-align: center;
}

.auth-text a {
  color: #78d0a7;
}

.auth-text a:hover {
  text-decoration: underline;
}

@media (max-width: 376px) {
  .auth-logo {
    top: 50px;
  }
  .auth-container {
    padding: 30px 10px;
    margin: 0 12px;
  }
}
