html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: auto;
}

* {
  box-sizing: inherit;
  font-family: inherit;
  font-family: "Work Sans", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

li {
  list-style: none;
}

.app {
  position: relative;
}

.content {
  min-height: calc(100vh - var(--header-height) - 379px);
  margin-top: calc(var(--header-height) + var(--search-bar-height) + 20px);

}

.btn {
  outline: none;
  border: none;
  background-color: var(--prymari-color);
  font-weight: 700;
  color: #fff;
}

.btn:hover {
  color: #fff;
}

.click-cursor {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}

.overlay.active {
  z-index: 98;
  opacity: 1;
  transition: all 0.5s;
}

.text-gradient {
  background-image: var(--gradient-color);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-animation {
  display: block;
  outline: none;
  padding: 12px 31.5px;
  position: relative;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 8px;
  overflow: hidden;
}

.btn-animation span {
    position: relative;
    z-index: 2;
    transition: color 0.5s
}

.btn-animation::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: var(--gradient-color);
    z-index: 1;
    opacity: 0.5;
    transform: scaleX(0);
    transform-origin: left center;
    -webkit-transition: cubic-bezier(0,.43,.99,.62) 0.3s;
    transition: cubic-bezier(0,.43,.99,.62) 0.3s;
}

.btn-animation:hover::before {
    transform: scaleX(1);
    opacity: 1;
}

.btn-animation:hover span {
    color: #fff;
    transition: color 0.5s
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.pagination {
  justify-content: center;
  margin-top: 30px;
}

.page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.page-link,
.page-link:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.form-group {
  padding: 15px 0;
  position: relative;
  overflow: hidden;
}

.form-half {
  display: flex;
}

.form-half .form-group {
  flex: 0.5;
}

.form-half .form-group:first-child {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .form-half {
    flex-direction: column;
  }

  .form-half .form-group {
    flex: 1;
  }

  .form-half .form-group:first-child {
    margin-right: 0;
  }
}

.form-label,
.form-control {
  color: rgb(138, 135, 135);
}

.form-label {
  position: absolute;
  top: 6px;
  left: 38px;
  transition: all 0.5s;
  cursor: text;
}

.form-control {
  position: relative;
  border-width: 2px;
  border-color: transparent transparent currentColor transparent;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.form-input {
  flex: 1;
  margin-left: 10px;
  border: none;
  outline: none;
}

.form-bottom-line {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
  transition: all 0.5s;
}

.form-icon {
  transition: all 0.5s;
}

.form-input:focus ~ .form-icon,
.form-input:not(:placeholder-shown) ~ .form-icon {
  color: #78d0a7 !important;
  transition: all 0.5s;
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  top: -15px;
  left: 12px;
  font-weight: 600;
  transition: all 0.5s;
  background-image: var(--gradient-color);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-input:focus ~ .form-bottom-line,
.form-input:not(:placeholder-shown) ~ .form-bottom-line {
  background-image: var(--gradient-color);
  transform: translateX(0);
  transition: all 0.5s;
}

.form-submit-btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.form-submit-btn {
  padding: 10px 30px;
  outline: none;
  border: 1px solid rgb(171, 171, 171);
  background-color: #78d0a7;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
}

.form-message,
.form-group.invalid .form-icon,
.form-group.invalid .form-label {
  color: red !important;
  -webkit-text-fill-color: unset;
  background-image: none;
}

.form-group.invalid .form-label {
  font-weight: 600;
}


.form-group.invalid .form-bottom-line {
  background-image: none;
  background-color: red;
}

.form-message {
  font-style: italic;
}

.form-group.invalid .form-control{
    border-bottom-color: red;
}