html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow: auto;
}

* {
    box-sizing: inherit;
    font-family: inherit;
    font-family: 'Work Sans', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}

ul, ol {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

li {
    list-style: none;
}

.btn {
    outline: none;
    border: none;
    background-color: #70c3a7;
    font-weight: 700;
    color: #fff;
}

.btn:hover {
    color: #fff;
}

.app {
    position: relative;
    background-color: #f3f3f3;
    min-height: 100vh;
}

.click-cursor {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
}

.overlay.active {
    z-index: 98;
    opacity: 1;
    transition: all 0.5s;
}