{% load static %}

<div class="container">
    <div class="swiper companies">
        <div class="swiper-wrapper company-wrapper">
            <a href="/dien-thoai/?brand=apple" class="swiper-slide company-item">
                <img src="{% static 'images/company-logo/apple.png' %}" />
                <span>Apple</span>
            </a>
            <a href="/dien-thoai/?brand=asus" class="swiper-slide company-item">
              <img src="{% static 'images/company-logo/asus.png' %}" />
              <span>Asus</span>
            </a>
            <a href="/dien-thoai/?brand=samsung" class="swiper-slide company-item">
              <img src="{% static 'images/company-logo/samsung.png' %}" />
              <span>Samsung</span>
            </a>
            <a href="/dien-thoai/?brand=huawei" class="swiper-slide company-item">
              <img src="{% static 'images/company-logo/huawei.png' %}" />
              <span>Huawei</span>
            </a>
            <a href="/dien-thoai/?brand=lg" class="swiper-slide company-item">
              <img src="{% static 'images/company-logo/lg.png' %}" />
              <span>LG</span>
            </a>
            <a href="/dien-thoai/?brand=vivo" class="swiper-slide company-item">
              <img src="{% static 'images/company-logo/vivo.png' %}" />
              <span>Vivo</span>
            </a>
            <a href="/dien-thoai/?brand=xiaomi" class="swiper-slide company-item">
              <img src="{% static 'images/company-logo/xiaomi.png' %}" />
              <span>Xiaomi</span>
            </a>
        </div>
    </div>
</div>

<script>
    const companySwipper = new Swiper(".companies", {
      slidesPerView: 6,
      spaceBetween: 10,
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      breakpoints: {
        "@0.00": {
          slidesPerView: 2,
        },
        "@0.75": {
          slidesPerView: 3,
        },
        "@1.00": {
          slidesPerView: 4,
        },
        "@1.50": {
          slidesPerView: 6,
        },
      },
    });
  </script>