{% load static %}

<header class="header">
  <div class="header-content">
    <div class="container d-flex align-items-center">
      <div class="header__logo">
        <a href="/">
          <img
            src="{% static 'images/mobius-logo.png' %}"
            alt="Mobius"
            width="160"
            height="50"
          />
        </a>
      </div>

      <nav class="header__navbar flex-fill">
        {% if user.is_authenticated %}
        <div class="navbar__mobile-login">
          <div id="toggleLoginMenu" class="d-flex user-menu">
            <span class="flex-fill">
              <i class="fas fa-user" style="font-size: 18px"></i>
              <span>{{user}}</span>
            </span>
            <span class="user-menu-arrow">
              <i class="fas fa-angle-down"></i>
            </span>
          </div>
          <ul class="nav__user-menu-list">
            <li>
              <a href="./userInfo/{{user}}" class="d-flex">
                <i class="fas fa-user-cog"></i>
                <span class="ms-1">Chỉnh sửa thông tin</span>
              </a>
            </li>
            <li class="logout">
              <a href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i>
                <span>Đăng xuất</span>
              </a>
            </li>
          </ul>
        </div>
      {% else %}
        <div class="navbar__mobile-login">
          <a class="navbar__link" href="{% url 'login' %}">
            <i class="fas fa-user" style="font-size: 18px"></i>
            <span>Đăng nhập<span>
          </a>
        </div>
      {% endif %}
        <ul class="d-flex justify-content-center navbar__list">
          <li class="navbar__item">
            <a class="navbar__link" href="{% url 'home_view' %}">
              <i class="fas fa-home"></i>
              <span>Trang chủ</span>
            </a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="{% url 'listPhones' %}">
              <i class="fas fa-mobile-alt"></i>
              <span>Điện thoại<span>
            </a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="{% url 'listAccessory' %}">
              <i class="fas fa-headphones-alt"></i>
              <span>Phụ kiện</span>
            </a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="./contact">
              <i class="fas fa-info-circle"></i>
              <span>Liên hệ</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="header__search-btn click-cursor">
        <i class="fas fa-search" style="font-size: 18px"></i>
      </div>

      {% if user.is_authenticated %}
        <div class="header__user-menu header__login click-cursor">
          <div class="login__link">
            <i class="fas fa-user" style="font-size: 18px"></i>
            <span>{{ user }}<span>
          </div>

          <ul class="header__user-menu-list">
            <li>
              <a href="./userInfo/{{user}}">
                <i class="fas fa-user-cog"></i>
                Chỉnh sửa thông tin
              </a>
            </li>
            <li class="logout">
              <a href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i>
                Đăng xuất
              </a>
            </li>
          </ul>
        </div>
      {% else %}
        <div class="header__login click-cursor">
          <a href="{% url 'login' %}" class="login__link">
            <i class="fas fa-user" style="font-size: 18px"></i>
            Đăng nhập
          </a>
        </div>
      {% endif %}

      <div class="header__cart-wrap">
        <div class="header__cart click-cursor">
          <i class="fas fa-shopping-cart"></i>
          <span class="cart__total-num">0</span>
        </div>
        {% include 'components/cart/cartHeader.html' %}
      </div>
    </div>
  </div>

  <div class="header__search-bar-wrap">
    <form action="{% url 'search_results' %}" class="header__search-bar container"  method="GET" value="{{request.GET.q}}">
      <input
        type="text"
        name="q"
        value="{{request.GET.q}}"
        class="header__search-input"
        placeholder="Tìm kiếm sản phẩm"
      />
      <button type="submit" class="btn header__search-submit">Tìm kiếm</button>
    </form>
  </div>

  <label for="toggleMenu" class="navbar__mobile-close-btn">
    <input type="checkbox" id="toggleMenu"/>
    <div class="line first"></div>
    <div class="line second"></div>
    <div class="line third"></div>
  </label>
</header>