    .cart-container {
    position: absolute;
    right: 0;
    top: 80%    ;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: 1px solid rgb(201, 201, 201);
    padding: 10px 15px;
    width: 375px;
    opacity: 0;
    z-index: -1;
    transform: translateY(-25%);
    transform-origin: top right;
    visibility: hidden;
    transition: all 0.3s;
}

.header__cart-wrap:hover .cart-container {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    visibility: visible;
    transition: all 0.3s;
}

.cart-heading {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 10px 12px 5px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.cart-no-item {
    padding: 8px 0;
    color: #999;
    text-align: center;
}

.cart-item__thumb {
    min-width: 60px;
    height: 60px;
}

.cart-item__info {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    flex: 1;
}

.cart-item__name {
    font-size: 16px;
    font-weight: 600;
    line-break: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.cart-item__price-wrap {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-container .checkout-wrap {
    display: none;
    justify-content: flex-end;
    padding: 10px 0;
}

.cart-container.active .checkout-wrap {
    display: flex;
}

.checkout-btn {
    font-size: 14px;
    width: 40%;
    padding: 4px 8px;
    cursor: pointer;
}

.cart-item__remove-btn {
    outline: none;
    background-color: transparent;
    border: none;
    color: red;
}

.cart-item__remove-btn:hover {
    text-decoration: underline;
}