
{% if isHome %}
<div class="container">
    <div class="products-new__header d-flex align-items-center justify-content-between flex-wrap flex-md-nowrap">
        <h3 class="m-0 text-gradient order-1">
          {% if filterOn == 'phone' %}
            Điện thoại
          {% else %}
            Phụ kiện
          {% endif %}
        </h3>
        <div class="products-new__tabs d-flex align-items-center justify-content-center justify-content-md-start flex-fill h-100 order-3 order-md-2">
            <a
              href="./"
              class="products-new__tab"
            >
              Nổi bật
            </a>
            <a
              href="./"
              class="products-new__tab"
            >
              Bán chạy nhất
            </a>
            <a
              href="./"
              class="products-new__tab"
            >
              Mới ra mắt
            </a>
        </div>
        <div class="product-new__navigation d-flex align-items-center order-2 order-md-3">
            <div class="product-new__btn-prev {{ filterOn }}">
                <i class="fas fa-caret-square-left"></i>
            </div>
            <div class="product-new__btn-next {{ filterOn }}">
                <i class="fas fa-caret-square-right"></i>
            </div>
        </div>
    </div>

    <div class="swiper product-new__list {{ filterOn }}">
        <div class="swiper-wrapper">
          {% for product in products %}
              {% include 'components/products/productItem.html' with product=product style="swiper" %}
          {% endfor %}
        </div>
    </div>
</div>

<script>
  {% if filterOn == 'phone' %}
    const phoneSwiper = new Swiper(".product-new__list.phone", {
      navigation: {
        nextEl: ".product-new__btn-next.phone",
        prevEl: ".product-new__btn-prev.phone",
      },
      slidesPerView: 4,
      spaceBetween: 10,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      breakpoints: {
        375: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 3,
        },
        1400: {
          slidesPerView: 4,
        }
      }
    });
  {% else %}
    const accessoriesSwiper = new Swiper(".product-new__list.accessories", {
      navigation: {
        nextEl: ".product-new__btn-next.accessories",
        prevEl: ".product-new__btn-prev.accessories",
      },
      slidesPerView: 4,
      spaceBetween: 10,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      breakpoints: {
        375: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 3,
        },
        1400: {
          slidesPerView: 4,
        }
      }
    });
  {% endif %}
</script>
{% endif %}