{% load humanize %}
{% load mathfilters %}

{% if isHome %}
<div class="swiper-slide">
{% endif %}
    <div class="product__wrapper">
        <div class="product__item">
            <div
                class="product__thumbnail"
                style="
                    background-image: url('/media/{{ product.thumbnail }}')
                "
            ></div>
            <div class="text-gradient product__name">{{ product.name }}</div>
            <div class="product__price">
                {% if product.saleOff == 0 %}
                    <strong>{{ product.price|intcomma }}đ</strong>
                {% elif product.saleOff > 0 %}
                    <strong>{{ 0|sub:product.price|mul:product.saleOff|add:product.price|intcomma }}đ</strong>
                    <strike>{{ product.price|intcomma }}đ</strike>
                {% endif %}
            </div>
        </div>
        <div class="product-overlay">
            <div class="product__btn-group">
                <div
                    onClick="addProductToCard('{{ product.pk }}', '{{ csrf_token }}')"
                    class="btn product__btn product__addCart">
                    <i class="fas fa-cart-plus"></i>
                </div>
                <a
                    href="{% url  'phoneView' phoneName=product.name.split|join:"-" %}"
                    class="btn product__btn product__view"
                >
                    <i class="fas fa-eye"></i>
                </a>
            </div>
        </div>
    </div>
{% if isHome %}
</div>
{% endif %}